<header>
    <h1>Inicio</h1>
</header>

<main>
    <section>
        <h3>Productos</h3>
        <div class="ingredients">
            <div class="ingredients__list">
                <ul class="ingredients__list__item" id="ingredients-list"></ul>
            </div>
            <button id="btn-refresh-ingredients-list">Recargar Lista</button>
        </div>
    </section>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/api/public/js/home.socket.js"></script>